/* все анимации */

@keyframes puls {
	from {
		transform: scale(1);
		color: white;
	}
	to {
		transform: scale(1.5);
		color: var(--accent-color);
	}
}

.menu-button:hover {
	transform-origin: center;
	animation: puls 0.7s ease-in-out 2 alternate;
}

