/* все анимации */

@keyframes plus {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.5);
	}
}

.header__add-button:hover {
	transform-origin: center;
	animation: plus 0.3s ease-in 0.1s 2 alternate;
}

.plus:hover {
	color: var(--accent-color);
}

@keyframes search {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.5);
	}
}

.header__search-button:hover {
	transform-origin: center;
	animation: search 0.3s ease-in 0.1s 2 alternate;
}

.search-icon:hover {
	color: var(--accent-color);
}
