.page {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    min-inline-size: 320px;
    block-size: 100vh;
    font-family: var(--main-font, sans-serif);
    font-size: 18px;
    line-height: 1.17;
    color: var(--text-color);
    background-color: var(--background-color);
}

.accent-section {
    display: flex;
    align-items: center;
    inline-size: 100%;
    padding: 20px;
    justify-content: space-between;
    background-color: var(--accent-background-color);
    color: var(--accent-color);
    font-family: var(--accent-font);
}

.header {
    
}

.header__logo-box {
    display: flex;
}

.header__logo {
    
}

.logo {
        
}

.logo__image {
    inline-size: 40px;
    color: var(--accent-color);
}

.header__title {


}

.header__menu {

}

.header__menu__list {
    display: flex;
    gap: 10px;
}

.header__menu__item {

}

.header__menu__link {
    text-decoration: none;
    font-size: 25px;
}

.button {
    background-color: transparent;
    border:none;
    cursor: pointer;
}

.header__add-button {
    font-size: 40px;
    line-height: 50px;
    border: 1px solid var(--accent-color);
    inline-size: 50px;
    block-size: 50px;
}

.header__search-button {
   
}

.search-icon {
    inline-size: 40px;
    color: white;
}

.header__avatar-button {
    inline-size: 70px;
    block-size: 70px;
}

.avatar__image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}



.content {
    flex: 1 0 auto;
}

.content__title {

}

.content__section {

}

.content__card__list {

}

.content__card__item {

}

.card {

}

.card__image {

}

.card__rating-button {

}

.card__comment-button {

}

.card__delete-button {

}

.card__description {

}

.card__title {

}

.card__info {

}

.card__info-year {

}

.card__info-type {

}

.card__info-genre {

}

.footer {
    margin-block-end: 0;
}

.footer__logo {

}

.footer__copyright {

}

.footer__deleted {

}