/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Raleway';
  /* --accent-font: 'STIX Two Text'; */
  --main-font-weight: 400;
  --text-color: #312A4E;
  --background-color: #F3EFEC;
  --accent-background-color: #312A4E;
  --accent-color: #fccc2f;
}